<%- include("./partials/header") %>
<div class="error-body">
    <h1 class="error-heading">404 Error</h1>
    <h2 class="error-paragraph">Page Not Found</h2>
    <a href="/"><button class="btn btn-error">Back to Home</button></a>
</div>
<%- include("./partials/footer") %>